{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<head>
    <title>ZipWeather.com</title>
    <!--Required Meta Charset-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Required Bootstrap JS links-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!--Required StyleSheet Links-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Internal Style Sheet for reformatting-->
    <style>
      .good{background-color: greenyellow}
      .moderate{ background:  yellow;}
      .usg{ background-color: orange; }
      .unhealthy{ background-color: red; }
      .veryunhealthy{ background-color: maroon;}
      .hazardous{ background-color: brown }
      .jumbotron{
        margin: 15px;
      }
      .navbar{
        box-shadow: 0px 5px 5px grey;
      }
      
     body{
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .weather{
        background-color: blueviolet;
        
      }
      .jumbotron:hover{
        box-shadow: 4px 4px 4px rgb(38, 126, 107);
      }
      .temp{
        background-color: aquamarine;
      }
      .navbar :hover{
        text-shadow: 2px 2px 2px aliceblue;
      }
      
    </style>
    <!--Font Icon pack from Fontawesome.com-->
    <script src="https://kit.fontawesome.com/a274929d95.js" crossorigin="anonymous"></script>

</head>
<body>
  <!--Start of Navbar-->
   <container>

    <nav class="navbar navbar-dark bg-dark">
        
        <a class="navbar-brand" href="Index.html"><i class="fas fa-cloud-sun-rain"></i>Zip<b>Weather</b>.com</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="About.html">About Us<span class="sr-only">(current)</span></a>
          </li></ul>
        <form class="form-inline" method="POST" name="zip" action="{% url 'Home' %}">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="Enter ZIP Code" aria-label="Enter ZIP Code" name='zip' >
          <button class="btn btn-outline-success my-2 my-sm-0" type="Lookup">Lookup</button>
        </form>
      </nav></container>
      <!--End of Navbar-->
      <!--Start of Jumbotron-->
      <!--{% if api %}
        {% if api == "Error 404...not found!"%}
        <container>
          <div class="jumbotron usg">
            <h1 class="display-4">Please Try Again</h1>
            <p class="lead">The ZIP Code you entered doesn't exist/is invalid.</p>
            <hr class="my-4">
            <p></p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </div>
        </container>
        {% elif api == "" %}
        <container>
          <div class="jumbotron good">
            <h1 class="display-4">Please Try Again</h1>
            <p class="lead">The ZIP Code you entered doesn't exist/is invalid.</p>
            <hr class="my-4">
            <p></p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </div>
        </container>
        
        {% else %}     
      <container>-->

      <div class="container">
      <div class="jumbotron {{ jumbo_color }}">
        <h1 class="display-4">Air Quality {{ api.0.Category.Name }}</h1>
        <p class="lead">AQI {{ api.0.AQI }} At <b>{{ api.0.ReportingArea }}</b></p>
        <hr class="my-4">
        <p>{{ description }}</p>
        <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="jumbotron weather">
            <h1 class="display-4">{{ api2.weather.0.main }} <i class="fas fa-cloud-sun-rain"></i></h1>
            <p class="lead">{{ api2.weather.0.description }}</p>
            <hr class="my-4">
            <p><b>Pressure</b> {{ api2.main.pressure }} bar  <b>Humidity</b> {{ api2.main.humidity }}</p>
            
            <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
          </div>
        
        </div>
        <div class="col-sm">
          <div class="jumbotron temp">
            <h1 class="display-4">{{ temp }}°F <i class="fas fa-thermometer-half"></i></h1>
            <p class="lead">Feels Like {{ temp_feels_like }}°F</p>
            <hr class="my-4"> 
            <p><b>Max</b> {{ temp_max }}°F <b>Min</b> {{ temp_min }}°F
            </p>
            <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
          </div>
        
        </div>
        
        </div>
      </div>
    </div>
    
    {% endif %}
    {% endif %}
    <!--End of Jumbotron-->
      </body>

</html>
{% endblock %}